@model Admin.Models.New_Purchase

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="~/Content/Purchase.css" />
<style>
    table, td {
        padding: 2px;
        border: 1px dotted #ddd;
    }
</style>
<body>
    <div class="container-fluid">
        <br />
        <div id="ui-view" data-select2-id="ui-view">
            <div>
                <div class="card">
                    <div class="card-header">
                        <h4>Invoice No:@Html.EditorFor(model => model.Invoice_No, new { htmlAttributes = new { @class = "uppercase", required = "required", style = "margin-left:1%;width:20%;font-size:18px;", id = "Invoice_No" } })    Date:@Html.EditorFor(model => model.Invoice_Date, new { htmlAttributes = new { style = "margin-left:1%;width:20%;font-size:16px;", id="Invoice_Date" } })<a id="ToHide" class="btn btn-sm btn-secondary float-right mr-1 d-print-none" href="#" onclick="javascript:window.print();" data-ng-style="true"><i class="fa fa-print"></i> Print</a></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <input id="Part_No" type="text" style="border: 1px solid gray;margin-right: 10%;" placeholder="Part No">
                            <input id="Quantity" type="text" style="border: 1px solid gray; margin-right: 10%;" placeholder="Quantity">
                            <input id="Purchase_Rate" type="text" style="border: 1px solid gray;" placeholder="Purchase Rate">
                            <div><p id="value" style="width:50%"></p></div>
                            <div>
                                <input id="Discount" type="text" style="border: 1px solid gray; margin-top: 10px; margin-right: 10%;" placeholder="Discount">
                                <input id="Tax_1" type="text" style="border: 1px solid gray; margin-top: 10px; margin-right: 10%;" placeholder="Tax 1">
                                <input id="Tax_2" type="text" style="border: 1px solid gray; margin-top: 10px; margin-right: 10%;" placeholder="Tax 2">
                                <button><a href="#" class="button" id="Insert">Insert</a></button>
                            </div>
                            <table class="gridView" id="selected_units" style="margin-top:10px;">
                                <tbody>
                                    <tr class="gridViewHeader">
                                        <th style="padding-right:50px">Part_No</th>
                                        <th style="padding-right:50px">Quantity</th>
                                        <th style="padding-right:50px">Price_Per_Unit</th>
                                        <th style="padding-right:50px">Sub_Total</th>
                                        <th style="padding-right:50px">Discount</th>
                                        <th style="padding-right:50px">Tax1</th>
                                        <th style="padding-right:50px">Tax2</th>
                                        <th style="padding-right:50px">Total</th>
                                        <th style="padding-right:30px">EditDelete</th>
                                        <th style="display:none;">Invoice_No</th>
                                        <th style="display: none;">Invoice_Date</th>
                                        <th style="display:none;">ILedger</th>
                                        <th style="display: none;">ALedger</th>
                                        <th style="display: none;">final_Qty</th>
                                        <th style="display: none;">final_Total</th>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                @Html.LabelFor(model => model.Quantity) = <h6 id="Qty"></h6>
                                @Html.LabelFor(model => model.Total) = <h6 id="total"></h6>
                            </div>
                            <p id="del"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p id="Enter_Inv_No"></p>
        <button class="button" id="Submit" style="width:10%;">Submit</button>
        <pre id="json_op"></pre>
    </div>
</body>
<script>
    var qty = 0;
    var total = 0;
    $('#Insert').click(function () {
        var d1 = $('#Part_No').val();
        var d2 = parseInt(document.getElementById("Quantity").value);
        var d3 = $('#Purchase_Rate').val();
        var d4 = $('#Discount').val();
        var d5 = $('#Tax_1').val();
        var d6 = $('#Tax_2').val();
        var ILedger = 1;
        var ALedger = 2;
        qty = qty + d2;
        var subtotal = d2 * d3;
        if (d4 == "") {
            var discount = 0;
        }
        else {
            var discount = (subtotal * d4) / 100;
        }
        if (d5 == "") {
            var tax1 = 0;
        }
        else {
            var tax1 = (subtotal * d5) / 100;
        }
        if (d6 == "") {
            var tax2 = 0;
        }
        else {
            var tax2 = (subtotal * d6) / 100;
        }
        var Total = (subtotal - discount) + tax1 + tax2;
        total = total + Total;
        var Invoice_No = $('#Invoice_No').val();
        var Invoice_Date = $('#Invoice_Date').val();
        document.getElementById("Qty").innerHTML = qty;
        document.getElementById("total").innerHTML = total;
        var final_Qty = document.getElementById("Qty").innerHTML;
        var final_Total = document.getElementById("total").innerHTML;
        if (d1 == "" || d2 == "" || d3 == "") {
            return;
        }
        else {
            var newrow = '<tr id="data"><td>' + d1 + '</td><td>' + d2 + '</td><td>' + d3 + '</td><td>' + subtotal + '</td><td>' + discount + '</td><td>' + tax1 + '</td><td>' + tax2 + '</td><td>' + Total + '</td><td><button onclick="editRow();" style="align-content:center;"><i class="fas fa-edit"></i></button><button  onClick="del_row(this)"><i class="fa fa-trash"></i></button></td><td style="display:none;">' + Invoice_No + '</td><td style="display:none;">' + Invoice_Date + '</td><td style="display:none;">' + ILedger + '</td><td style="display:none;">' + ALedger + '</td><td style="display:none;">' + final_Qty + '</td><td style="display:none;">' + final_Total + '</td></tr>';
            $('#selected_units tr:last').after(newrow);
        }
        
    });
</script>
<script>
    $('#Submit').click(function (e) {

        var Inv_No = $('#Invoice_No').val();
        if (Inv_No == "") {
            document.getElementById("Enter_Inv_No").innerHTML = "Enter the Invoice No !!!";
            return;
        }
        else {
            $('#Enter_Inv_No').hide();
            var myRows = [];
            var headersText = [];
            var $headers = $("th");
            var $rows = $("tbody #data").each(function (index) {
                $cells = $(this).find("td");
                myRows[index] = {};

                $cells.each(function (cellIndex) {
                    if (headersText[cellIndex] === undefined) {
                        headersText[cellIndex] = $($headers[cellIndex]).text();
                    }
                    myRows[index][headersText[cellIndex]] = $(this).text();
                });
            });

            var myObj = {
                "myrows": myRows
            };
            $.ajax({
                url: '/NewPurchase/Table_Data',
                data: JSON.stringify(myRows),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    //  alert(result.ItemList[0].Str);
                }
            });
            @*$(document).ready(function () {
                $.ajax(
                    {
                        type: 'POST',
                        dataType: 'JSON',
                        url: "/NewPurchase/Table_Data",
                        contentType: "application/json; charset=utf-8",
                        data: { Purchase: JSON.stringify(myRows, undefined, 2) },
                        success:
                            function (response) {
                                // Generate HTML table.
                                alert("Success: " + response);
                            },
                        error:
                            function (response) {
                                alert("Error: " + response);
                            }
                    });
            });*@
            @*jQuery.ajax({
            type: "POST",
            url: "@Url.Action("Table_Data", "NewPurchase")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
                data: { Purchase: JSON.stringify(myRows, undefined, 2) },
                success: function (data) {
                    alert(data);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
            });*@
            document.getElementById("json_op").innerHTML = JSON.stringify(myRows, undefined, 2);
        }
    });
</script>
<script>
    function del_row(node) {
        r = node.parentNode.parentNode;
        var qty = r.parentNode.children.innerHTML;
       @* document.getElementById("del").innerHTML = qty;*@
        r.parentNode.removeChild(r);
        var tot = document.getElementById("total").innerHTML;
        tot = tot - 1;
        document.getElementById("total").innerHTML = tot;

    }
</script>
<script>
    document.addEventListener('keydown', function (event) {
        if (event.keyCode === 9) {

            var model = new Object();
            model.Part_to_Descp = document.getElementById("Part_No").value;

            jQuery.ajax({
            type: "POST",
            url: "@Url.Action("Partno_to_Descp")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ name: model }),
                success: function (data) {
                    document.getElementById("value").innerHTML = data;
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
            });
        }
    });
</script>