<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/css/Product.css" />
    <style>
        #initaial {
            text-align: center;
            padding-top: 10%;
        }
    </style>
</head>
    <body>
        <div style="text-align:center; padding-top:10%;">
            @{
                var name = Session["displayname"].ToString();

                <h2>Welcome @name !!!</h2>
            }
            <br />
            <img src="~/adminlte/img/credit/logo.png" alt="Samtech Devices India Pvt Ltd" width="250" height="90">
        </div>

    </body>
</html>
