@{
    Layout = null;

}
<div class="container-fluid">

    <div style=" border: 1px solid #ccc;background-color:lightgoldenrodyellow; text-align:center; position:absolute;top:250px;padding:10px; height:100px;width:100%;">
        <h2>Do not have permission</h2>

    </div>

</div>
